/*
This projects are created by Ashraf Morningstar
GitHub Profile: https://github.com/AshrafMorningstar
*/

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  background: rgb(30,30,30);
  overflow: hidden;
}

#C{
}