/*
This projects are created by Ashraf Morningstar
GitHub Profile: https://github.com/AshrafMorningstar
*/

body {  
    background-color: #000;    
    margin: 0;  
    overflow: hidden;  
    background-repeat: no-repeat;  
   }  